$space-0: 0;
$space-10: 10px;
$space-20: 20px;

.personal-detail-col {
    p {
        margin-bottom: $space-0;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.blog-filter {
    margin-top: $space-20;
    margin-bottom: $space-20;
    display: flex;
    justify-content: center;

    .filter-button {
        margin-left: $space-10;
        margin-right: $space-10;
    }
}
